/* reset all padding and margin */

* {
 margin: 0;
padding: 0;
color: red;
}


body {
       color: #878787;
      margin: 0;
}

header {
    background-color: orange;  
}


h1 {
  font-size: 90px;
      color: white;
}

h2 {
 font-size: 53px; 
}

h3 {
  font-size: 20px;
      color: #48525c;
}

p {
  /* font-size: 0.9em; */
  
}


a:link {
 color: orange;
 text-decoration: none;
}

a:hover {
  border-bottom: 3px solid forestgreen;
}

a:active {
 color: lightcoral; 
}

:focus {
 color: white;
 background-color: grey;
}


ul, ol li {
 color: charcole;
 margin-bottom: 5px;
}

.primary-content {
    text-align:left;
}

.secondary-content {
    
}

.topBorder {
 border-top: 2px solid lightgrey; 
}


/*  footer   */

#footer {
  padding: 60 0;
  border-bottom: 10px solid orange;
}
